.menu-card {
    border-radius: 15px;
    border: none;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  }

  .card-productos {
      height: 200px;
      background-color: #dede09;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;   
      text-align: center;  
          
  }


  .card-clientes {
    background: #808080;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    text-align: center;  
  }

 
  .card-ventas {
    background: #a18262;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    text-align: center;  
  }


  .card-inventario {
    background: #6F4E37;
    height: 150px;
    display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;   
      text-align: center;  
  }

  /* ❤️ Tarjeta Facturas */
  .card-facturas {
    background: #dc3545;
    height: 150px;
    display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;   
      text-align: center;  
  }

  /* 🩵 Tarjeta Configuración */
  .card-configuracion {
    background: #17a2b8;
    height: 150px;
    display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;   
      text-align: center;  
  }
/* Fondo de pantalla 
  body {
  background-image: url("");
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  background-attachment: fixed;  
}

.glass-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px);  

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  z-index: 1000;
}
*/